<header class="mui-bar mui-bar-nav">
  <div class="headerImg">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">收藏</h1>
  </div>
</header>
<ul class="mui-table-view">
  <li class="mui-table-view-cell mui-media" ng-repeat="item in items">
    <img class="mui-media-object mui-pull-left" ng-src="{{ item.item_image_url[0] || 'images/09.png'}}">
    <div class="wrap">
      <div class="mui-media-body1">
        <a href="/items/{{ item.item_id }}">
          <h5 class="tit5">{{ item.item_title }}</h5>
          <div class="time"><span>{{item.create_at | date: 'y' + '年' + 'M'+ '月' + 'd' + '日'}}</span></div>
          <div class="left"><span>{{item.item_handle}}</span></div>
          <div class="right1"><span>{{item.item_price}}￥</span></div>
        </a>
        <div class="left1" id="delete" ng-click="deCollect(item.item_id)"><span>取消收藏</span></div>
      </div>
    </div>
  </li>
</ul>
